.login-container {
  display: flex;
  max-height: 100%;

  .login-left {
    flex: 3;
    background: #fff;
  }

  .login-right {
    flex: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-title {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 22px;
      align-items: center;
      h1 {
        text-align: center;
      }

      .logo {
        width: 20%;
      }
    }

    .LoginBtn {
      margin-top: 30px;
    }
  }
}
